@model ProjectSample.Areas.Admin.Models.Orders.OrderLineItem

<tr>
    <td>@Html.ActionLink(Model.Id.ToString(), "Details", new {Model.Id})</td>
    <td>@Html.ActionLink(Model.CurrentStateName, "Details", new {Model.Id})</td>
    <td>@Html.ActionLink(Model.Total.ToString("C"), "Details", new {Model.Id})</td>
    <td>
        @if (Model.CurrentStateName != "Cancelled")
        {
            using (Html.BeginForm("Delete", "Orders", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.AntiForgeryToken()
                var confirmMessage = $"Are you sure you wish to cancel the order {@Model.Id}";
                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('@confirmMessage');"><span class="glyphicon glyphicon-trash"></span></button>
            }
        }
    </td>
</tr>
